.contact-page {
  display: flex;
}

.contact-info {
  flex: 1;
  padding: 20px;
}

.map {
  flex: 1;
  height: 400px; /* Set a fixed height for the map container */
  position: relative;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
